@import url('https://fonts.googleapis.com/css2?family=DynaPuff&display=swap');

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

body {
    font-family: 'Courier New', Courier, monospace;
}

.contenedorLogo a {
    font-family: 'DynaPuff', cursive;
    font-size: 5rem;
    color: black;
    text-decoration: none;
    margin-left: 0rem;
}

.contenedorUl{
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  padding: 2rem;
}

.contenedorNav {
  display: block;
}

.contenedorLista a {
  text-decoration: none;
  color: black;
  font-size: 1rem;
  padding: 1rem;
  font-family: 'Courier New', Courier, monospace;
  margin-right: 1rem;
}

.contenedorLista a:hover {
  background-color: #f2f2f2;
}

.proximamente {
  font-size: 1.5rem;
  text-align: left;
  padding: 2rem;
  height: 20vh;
}

.impaciente {
  padding-top: 2rem;
}

.contenedorFooter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  padding-left: 2rem;
  font-size: 1rem;
  background-color: black;
  color: white;
}

.contenedorRedes {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  padding: 1rem;
}

.contenedorRedes a {
  margin: 1rem;
  text-decoration: none;
  color: white;
}

.contenedorRedes a:hover {
  text-decoration: underline;
}

.saludo {
  font-size: 1.5rem;
  padding: 2rem;
  text-align: left;
  text-emphasis: none;
  text-decoration: none;
  font-family: 'DynaPuff', cursive;;
}

#cart {
  display: flex;
  padding: 1rem;
  background-color: black;
  color: white;
}

.fotoMadone {
  width: 60%;
  margin: 0.5rem;
}

.contenedorGeneral {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.contenedorCard {
  display: flex;
  flex-direction: column;
  margin: 2rem;
  align-items: center;
  justify-content: center;
  width: 500px;
  height: 50vh;
  border-color: black;
  border-style: solid;
  padding: 2rem;
}

.contenedorDetalle {
  display: flex;
  flex-direction: column;
  margin: 2rem;
  align-items: center;
  justify-content: center;
  width: auto;
  border-color: black;
  border-style: solid;
  padding: 2rem;
}

.imagenTextos {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.fotoMadoneDetail {
  width: 80%;
}

.textosDetalle {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;
}

.modeloDetalle {
  font-size: large;
  text-transform: uppercase;
  font-weight: bold;
}

.contenedorSumarAgregar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: space-evenly;
}

.botonAgregar {
  padding: 1rem;
  background-color: black;
  border-style: none;
  color: white;
  margin: 1rem;
  }

.botonAgregar:disabled {
  background-color: grey;
  cursor: not-allowed;
}

.contenedorSumar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  width: 50%;
}

.botonMasMenos {
  padding: 0.7rem;
  background-color: black;
  border-style: none;
  color: white;
  font-size: large;
}

.unidades {
  margin-inline: 1rem;
}

.modelo {
  font-size: large;
  text-transform: uppercase;
  font-weight: bold;
  padding: 0.5rem;
}

.cargando {
  margin: 3rem;
  color: red;
}

.contenedorCarrito {
  height: 60vh;
}

.carrito {
  margin: 3rem;
}